@media (min-width: 600px) {
  .options-blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
  }
  .op-blur-hide {
    opacity: 0;
  }
  .op-blur-vis {
    visibility: hidden;
  }
  @-webkit-keyframes visibility {
    from {
      visibility: visible;
    }
    to {
      visibility: hidden;
    }
  }
  @keyframes visibility {
    from {
      visibility: visible;
    }
    to {
      visibility: hidden;
    }
  }
  .options {
    width: 75vw;
    background-color: #191522;
    padding: 30px 60px;
    border-radius: 10px;
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-box-shadow: 0 15px 40px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 40px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .options .close-op {
    position: relative;
    float: right;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #d63e71;
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
  }
  .options .close-op:hover {
    background-color: #e17398;
    -webkit-transform: scale(1.3) rotate(135deg);
            transform: scale(1.3) rotate(135deg);
    border-radius: 50%;
  }
  .options div {
    clear: both;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .options div span {
    color: white;
    pointer-events: none;
  }
  .options div span::-moz-selection {
    background-color: transparent;
  }
  .options div span::selection {
    background-color: transparent;
  }
  .options div button {
    width: 90px;
    height: 30px;
    background-color: #201b2b;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .options div button div {
    position: relative;
    width: 25px;
    height: 80%;
    border-radius: 50%;
    background-color: #d63e71;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    left: 10%;
  }
  .options div button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .options div button:focus {
    outline: none;
  }
  .options div .verdadeiro {
    left: 90%;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    background-color: #3ed68f;
  }
  .op-formato div button {
    color: #696969;
    margin: auto 10px;
    width: 70px !important;
    border-radius: 7px;
    -webkit-transition: background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .op-formato div button:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
    border: 2px solid #8b4dff;
  }
  .op-formato div .formato-sel {
    color: white;
    background-color: #8b4dff;
    border: 2px solid #8b4dff;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .op-formato div .formato-sel:hover {
    -webkit-transform: scale(1.2) !important;
            transform: scale(1.2) !important;
  }
  .op-closed {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .js-opcoes {
    display: block !important;
    position: fixed;
    right: 7vw;
    bottom: 5vh;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    z-index: 1;
  }
  .js-opcoes svg {
    width: 100%;
    height: 100%;
    fill: white;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .js-opcoes:hover {
    -webkit-transform: rotate(135deg) scale(1.2);
            transform: rotate(135deg) scale(1.2);
  }
  .js-opcoes:focus {
    outline: none;
  }
  .js-opcoes:active > svg {
    fill: #8b4dff;
  }
}

@media (min-width: 800px) {
  .js-opcoes {
    right: 14vw;
  }
}

@media (min-width: 960px) {
  .options {
    width: 60vw;
  }
}

@media (min-width: 1280px) {
  .options {
    width: 40vw;
  }
  .js-opcoes {
    right: 21vw;
  }
}
/*# sourceMappingURL=options.css.map */