@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url('../resrc/fonts/bowlbyonesc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url('../resrc/fonts/nunito.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url('../resrc/fonts/lilyscriptone.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$colors : (
  bg : #201b2b,
  success: #3ed68f,
  fail : #d63e71,
  warning: #fdc752,
  primary: #8b4dff
);

@function cor($cor){
  @return map-get($colors, $cor);
}

@mixin btns{
  position: relative;
  border: none;
  border-radius: 7px;
  padding: 15px 40px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .1em;
  transition: .3s ease;
  margin: 5px;
  

  &:hover{
    transform: scale(1.15);
  }

  &:active{
    transform: scale(1);
  }

  &:focus{
    outline: none;
  }
}

@mixin selection($true){
  @if($true == '1'){
    &::selection{
      background-color: cor(primary);
    }
  }@else{
    &::selection{
      background-color: transparent;
    }
  }
}

@media (min-width: 600px){
  body{
    width: 100vw;
    min-height: 100vh;
    background-color: darken(cor(bg), $amount: 3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  nav{
    position: relative;
    width: 100vw;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: drag;
    animation: nav-start 1.5s cubic-bezier(.09,.59,.46,.96);

    @keyframes nav-start {
      from{
        top: -200px;
        filter: opacity(0);
      }

      to{
        top: 0;
        filter: opacity(1);
      }
    }

    h1{
      font-family: 'Lily Script One', 'Bowlby One SC';
      font-size: 1.7em;
      position: absolute;
      left: 5%;
      transition: all .3s ease;
    }
    
    .recording{
      animation: record-blink 3s linear infinite !important;
    }

    @keyframes record-blink {
      0%{
        color: darken(cor(bg), $amount: 4);
      }

      50%{
        color: cor(fail);
      }

      100%{
        color: darken(cor(bg), $amount: 4);
      }
    }
  
    ul{
      position: absolute;
      list-style: none;
      display: flex;
      right: 5%;
  
      li{
        margin: 10px 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: all .3s ease;
        cursor: pointer;
        -webkit-app-region: no-drag;
  
        &:nth-child(1){
          background-color: rgb(255, 234, 46);
          
          &:hover{
            background-color: lighten(rgb(255, 234, 46), $amount: 12.5);
            transform: scale(1.2);
          }
        }
  
        &:nth-child(2){
          background-color: rgb(45, 243, 111);
  
          &:hover{
            background-color: lighten(rgb(45, 243, 111), $amount: 12.5);
            transform: scale(1.2);
          }
        }
  
        &:nth-child(3){
          background-color: rgb(255, 35, 90);
          
          &:hover{
            background-color: lighten(rgb(255, 35, 90), $amount: 12.5);
            transform: scale(1.2);
          }
        }
      }
    }
  }
  
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .app{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 11vh 6vw;
      background-color: cor(bg);
      border-radius: 10px;
      transition: all .2s ease;

      .player{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .bem-vindo{
          width: 50vw;
          position: absolute;
          text-align: center;
          letter-spacing: .1em;
          font-size: 1em;
          pointer-events: none;
          transition: all .2s ease;
          @include selection('1');
          animation: bem-vindo-start 3s cubic-bezier(.09,.59,.46,.96);
        }

        @keyframes bem-vindo-start {
          0%{
            transform: scale(0);
            filter: opacity(0);
          }

          30%{
            transform: scale(0);
            filter: opacity(0);
          }

          100%{
            transform: scale(1);
            filter: opacity(1);
          }
        }

        .bem-vindo-posicao{
          position: relative !important;
        }    
  
        video{
          width: 80vw;
          min-height: 50vh;
          max-height: 50vh;
          background-color: darken(cor(bg), $amount: 5);
          border-radius: 10px;
          margin: 10px 0;
          transition: all .3s ease;
          @include selection('0');
        }
      }
    
      .btns{
        button{
          @include btns;
          @include selection('0');
        }
    
        .js-btn-start{
          background-color: cor(success);
    
          &:hover{
            background-color: lighten(cor(success), $amount: 7);
          }
        }
    
        .js-btn-stop{
          background-color: cor(fail);
    
          &:hover{
            background-color: lighten(cor(fail), $amount: 7);
          }
        }

        .btn-escala{
          transform: scale(0) !important;
        }

        .btn-desabilitar{
          color: cor(bg);
          background-color: darken(cor(bg), $amount: 5);
          pointer-events: none;
        }
      }
    
      .js-btn-video-select{
        @include btns;
        background-color: cor(primary);
        animation: btn-vs-start 4s cubic-bezier(.09,.59,.46,.96);

        &:hover{
          background-color: lighten(cor(primary), $amount: 3);
        }
        @include selection('0');
      }

      @keyframes btn-vs-start {
        0%{
          bottom: -300px;
        }

        30%{
          bottom: -300px;
        }

        100%{
          bottom: 0;
        }
      }

      .warn{
        background-color: cor(warning) !important;

        &:hover{
          background-color: lighten(cor(warning), $amount: 3) !important;
        }
      }

      .btn-desabilitar{
        color: cor(bg);
        background-color: darken(cor(bg), $amount: 5);
        pointer-events: none;
      }
    }

    .app-changed{
      padding: 4vh 4vw !important;
      padding-bottom: 9vh !important;
    }
  }
}

@media (min-width: 800px){
  .container{
    .app-changed{
      padding-bottom: 13vh !important;
    }
  }
}

@media (min-width: 960px){
  .container{
    .app{
      padding: 10vh 10vw;

      .player{
        video{
          width: 60vw;
        }
      }
    }
    
    .app-changed{
      padding: 9vh 10vw !important;
      padding-bottom: 14vh !important;
    }
  }
}

@media (min-width: 1280px){
  .container{
    .app{
      padding: 15vh 7vw !important;

      .player{
        video{
          width: 55vw;
          min-height: 50vh;
        }
      }
    }

    .app-changed{
      padding: 13vh 7vw !important;
    }
  }
}